<%
const { body } = await _.resolveRoute()
_.breadcrumbs = [{
  name: _.ecomUtils.name(body),
  link: `/${body.slug}`
}]
const { parent } = body
if (parent) {
  _.breadcrumbs.unshift({
    name: _.ecomUtils.name(parent),
    link: `/${parent.slug}`
  })
}
%>

<%
console.log('Parâmetros disponíveis:', JSON.stringify(_.query));
%>
<p>Parâmetros disponíveis: <%= JSON.stringify(_.route.query) %></p>
<p>URL atual: <%= pathname %></p>
<%- await include('@/view') %>
