// Add your custom CSS here.
body {
    background-image: url(https://cdn.e-com.club/s/www.limastore.com.br/uploads/fundo.jpg);
    background-position: top center;
    background-attachment: scroll;
    background-repeat: no-repeat;
}
.top-bar, .header {
    background: none;
}
@media(min-width: 768px) {
    .banner-slider {
        max-width: 100%;
        --banner-aspect-ratio: 1!important;
        height: auto;
    }
    .header__logo {
        max-height: 105px;
    }
    .pre-footer .col-12 {
        display: block;
        width: 100%;
        height: 330px;
        padding-top: 60px;
        padding-left: 326px;
        position: relative;
        &:before {
            content: url(https://cdn.e-com.club/s/www.limastore.com.br/uploads/logo-pre-footer.png);
            width: 326px;
            height: 103px;
            position: absolute;
            top: 40%;
            margin-top: -52px;
            left: 0;
        }  
        h1 {
            font-size: 20px;
        } 
        h4 {
            color: #fff;
            font-size: 13px;
            width: 67%;
            &::after {
                content: "Com um site moderno e seguro, a Lima Store oferece a seus clientes a oportunidade de comprar nossos produtos sem sair de casa, e contamos com informações detalhadas das pessoas, fotos de alta definição e vídeos demonstrativos dos produtos, além de uma equipe de atendimento atenciosa e capacitada. Nosso maior objetivo está em proporcionar satisfação e contentamento desde a compra até o recebimento dos nossos produtos, e principalmente, ressaltar ainda mais a beleza e auto estima dos nossos clientes.";
                display: block;
                margin-top: 10px;
            }
        }
        .facebook-plugin {
            width: 250px;
            height: auto;
            position: absolute;
            right: 0;
            top: 30px;
        }
    }
    .footer {
        padding-top: 0;
        border-top: 0;
    }
}
@media(max-width: 767px) {
    .orders {
        display: none !important;
    }
}
#banner-primario .banner:first-child {
    margin-bottom: 20px;
}
@media (min-width: 992px) {
    #banner-primario {
        max-width: 71.29%;
        flex-basis: 71.29%;
        padding-right: 5px;
    }
    .top-bar {
        display: block!important;
        position: relative;
        height: 60px!important;
        max-width: 1170px!important;
        padding-top: 13px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .horario{
        float:right;
        color:#fff;
        font-weight:700;
        margin-top:-8px
    }
    .informacoes ul li img{
        margin-right:5px
    }
    .header:not(.reduce-header) {
        height:200px;
    }
    .search-input-but {
        font-size:0;
        height:57px;
        width:81px
    }
    .header__search {
        padding: 30px;
    }
    .header__search-input {
        color: #000;
        border-radius: 10px!important;
        background-image: linear-gradient(to bottom,#d8d8d8,#fefefe);
        border: none;
        box-shadow: 1px 1px 1px #000;
        height: 63px;
    }
    .header__search-btn {
        position: absolute;
        top:25px;
        right: 25px;
    }
}
#banner-secundario {
    @media (min-width: 992px) {
        max-width: 28.71%;
        flex-basis: 28.71%;
    }
    @media (max-width: 767px) {
        .banner {
            max-width: 100%;
            width: 100%;
            padding-top: 20px;
        }
    }

}
.banners-grid .banner:hover {
    opacity: .7;
} 
.top-bar {
    .fa-facebook:before {
        content: url('/img/uploads/facebook.png');
    }
    .fa-instagram:before {
        content: url('/img/uploads/insta.png');
    }
    .fab.fa-whatsapp::before {
        content: url('/img/uploads/whats.png');
    }
    .fas.fa-phone::before {
        content: url('/img/uploads/phone.png');
    }
    .fas.fa-mail::before {
        content: url('/img/uploads/mail.png');
    }
    * {
        color: #fff
    }
}
.horario {
    float: right;
    color: #fff;
    font-weight: 700;
    margin-top: .8px;
}
#links-contato {
    width: 70%;
    text-align: right;
    float: right;
    a:last-child {
        margin-right: 0 !important;
    }
}
.entrar {
    background: url(https://cdn.e-com.club/s/www.limastore.com.br/uploads/entrar.png) left top no-repeat;
    background-repeat: no-repeat;
    background-position: top center;
    width: 65px;
    height: 62px;
    margin-right: 5%;
    transition: all 1.5s ease;
    float: right;
}
.entrar:hover {
    background-position:0 -65px
}
.pedidos {
    background: url(https://cdn.e-com.club/s/www.limastore.com.br/uploads/pedidos.png) left top no-repeat;
    background-repeat: no-repeat;
    background-position: top center;
    width: 65px;
    height: 62px;
    margin-right: 5%;
    transition: all 1.5s ease;
    float: right;
}
.pedidos:hover {
    background-position:0 -65px
}
.products-carousel__title {
    text-align: start;
    background: url(https://cdn.e-com.club/s/www.limastore.com.br/uploads/grid.jpg) no-repeat 0;
    margin-bottom: 22px;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-weight: 700;
    a, span {
        background: none;
        color: #fff;
        &::after {
            content: '+ VER MAIS';
            font-size: 1rem;
            font-weight: 700;
            padding: .5rem;
            color: #000 !important;
        }
    }
    &::before {
        display: none;
    }
}
.header.reduce-header {
    background: #fff;
}
.header:not(.reduce-header) #menu {
    padding-top: 20px;
}
.pre-footer h1, .pre-footer h2 {
    color: #8b3333;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
@media (min-width: 992px) {
    .pre-footer {
        height: 350px;
        background-size: 100% 100%!important;
        background: url(https://cdn.e-com.club/s/www.limastore.com.br/uploads/pre-footer.png);
    }
}
#content {
    background-color: #fff;
}

.header__nav .dropdown{position:initial}
.header__nav .dropdown.open > .dropdown-menu,
.header__nav .dropdown:hover > .dropdown-menu{
    pointer-events:all;
    margin:0;
    opacity:1;
}
.header__nav .dropdown .dropdown-menu{
    background: #303030;
    border: 0;
    border-radius: 0;
    top: 100%;
    width: 100%;
    padding: 2rem 1rem;
    margin:15px 0 0 0;
    display:flex;
    justify-content:flex-start;
    pointer-events:none;
    opacity:0;
    transition:all .3s;
}
.header__nav .dropdown .dropdown-menu > li > a{font-size:12px;font-weight:800;text-transform:uppercase;color:#fff;}
.header__nav .dropdown .dropdown-menu > li > ul{list-style-type:none;padding:0;margin:.5rem 0 1rem 0;}
.header__nav .dropdown .dropdown-menu > li > ul > li > a{line-height:12px;display:inline-block;}
.page--home>.sections>.banners-grid:first-child{margin-top:-2.5px!important}

.header__nav .dropdown .dropdown-menu:before{
    content: "";
    position: absolute;
    background: #303030;
    top: 0;
    width: 3000px;
    left: calc(-50%);
    height: 100%;
    box-shadow: 0px 3px 3px rgba(0,0,0,.3);
}

.header__nav a:hover{background:transparent!important}
.header__nav .dropdown-menu a:hover{text-decoration:underline;}
.header__nav h4 {
    font-size: 14px;
}
.header__nav > ul{padding:0;list-style-type:none}
.header,
.header__container{margin-bottom:0;border-bottom:0;}
.header__nav > ul > li > span{position:relative;display:block;padding-bottom:0.5rem;}
.submenu {
    color: #8b3333;
    border-bottom: 1px solid rgba(238,238,238,.2);
}
.header-col ul li {
    &:hover {
        text-decoration: none;
        background-color: #8b3333 !important;
    }
    a {
        border-radius: 4px !important;
        padding: 10px 15px;
    }
}
.header__nav {
    &  > ul {
        display: flex;
        justify-content: center;
    }
    li:hover, a:hover, h4:hover {
        text-decoration: none !important;
        outline: 0;
    }
}
.hasSubmenu {
    h4 {
        color: #fff
    }
    &:hover {
        background-color: #8b3333;
    }
}

.header__nav > ul > li a {
    padding-left: 62px;
    &:before {
        content: " ";
        width: 62px;
        height: 49px;
        background-repeat: no-repeat;
        position: absolute;
        display: block;
        left: 0%;
        top: -30%;
        transition: all 0.5s ease;
    }
    &:hover::before {
        background-position:0 -49px
    }
    &#acessorios {
        &:before {
            background-image: url(https://cdn.e-com.club/s/www.limastore.com.br/uploads/ofertas.png);
        }
    }
    &#acessorios-femininos {
        &:before {
            background-image: url(https://cdn.e-com.club/s/www.limastore.com.br/uploads/feminino.png);
        }
    }
    &#acessorios-casais {
        &:before {
            background-image: url(https://cdn.e-com.club/s/www.limastore.com.br/uploads/casais.png);
        }
    }
    &#acessorios-masculinos {
        &:before {
            background-image: url(https://cdn.e-com.club/s/www.limastore.com.br/uploads/masculino.png);
        }
    }
}
.gallery__stage .embed-responsive.embed-responsive-16by9 {
    height: 320px;
}
.footer, #info-footer {
    background: url(https://cdn.e-com.club/s/www.limastore.com.br/uploads/footer.png) !important;
    background-color: transparent !important;
}
.pre-footer + .container {
    .row {
        justify-content: space-between;
    }
    padding-top: 2rem;
}
.credits {
    display: flex;
    justify-content: center;
}
#go-to-top {
    right: 0;
    position: fixed;
    bottom: 5px;
}
.footer {
    &__title {
        font-size: 20px;
        color: #8b3333;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 5px;
        border-bottom: 1px solid rgba(0,0,0,.1) !important;
        &+ *, &+ a {
            color: #000;
            font-weight: bold;
            font-size: 14px;
        }
    }
    &__links, &__contacts {
        a {
            color: #000;
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
        }
    } 
}
